{% extends 'base.html' %}
{% block content %}
<form class="form">
	<div class="page-header">
		<div class="pull-right hidden-print">
			<button type="submit" onclick="saved=true;" class="btn btn-hg btn-success"><i class="icon-check icon-white"></i> Guardar</button>
		</div>
		<h3>Form</h3>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2 form-group">
				<label>Title</label>
				<input type="text" class="form-control col-md-12" placeholder="Mr.">
			</div>
			<!--/span-->
			<div class="col-md-5 form-group">
				<label>First Name</label>
				<input type="text" class="form-control col-md-12" placeholder="Chee Kin">
			</div>
			<!--/span-->
			<div class="col-md-5 form-group">
				<label>Last Name</label>
				<input type="text" class="form-control col-md-12" placeholder="Lim">
			</div>
			<!--/span-->
		</div>
		<!--/row-->
		<div class="row">
			<div class="col-md-6 form-group">
				<label>Gender</label>
				<select class="form-control">
					<option>Female</option>
					<option>Male</option>
				</select>
			</div>
			<!--/span-->
			<div class="col-md-6 form-group">
				<label>Date of Birth</label>
				<input type="text" class="form-control col-md-12" placeholder="dd/mm/yyyy">
			</div>
			<!--/span-->
		</div>
		<!--/row-->
		<div class="row">
			<div class="col-md-12 form-group">
				<label>Address</label>
				<input type="text" class="form-control col-md-12 input-mini" placeholder="Street">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-group">
				<input type="text" class="form-control col-md-12 input-mini" placeholder="City">
			</div>
			<!--/span-->
			<div class="col-md-6 form-group">
				<input type="text" class="form-control col-md-12 input-mini" placeholder="State">
			</div>
			<!--/span-->
		</div>
		<!--/row-->
		<div class="row">
			<div class="col-md-6 form-group">
				<input type="text" class="form-control col-md-12 input-mini" placeholder="Post Code">
			</div>
			<!--/span-->
			<div class="col-md-6 form-group">
				<select class="form-control">
					<option>Country</option>
				</select>
			</div>
			<!--/span-->
		</div>
	</div>
</form>
{% endblock %}