{% extends 'pegasus/base.html' %}
{% load bootstrap3 paginator %}

{% block content %}
    <div class="page-header">
        <h3>Marcaciones</h3>
    </div>

    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Personal</th>
                <th>Fecha</th>
                <th>Tipo_Hor</th>
                <th>Turno</th>
                <th>Registro</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for marcacion in marcacion_list %}
            <tr>
                <td>
                    <a href="{% url "personal_edit" marcacion.personal.dni %}">
                        {{ marcacion.personal.nomb_comp }}
                    </a>
                </td>
                <td>{{ marcacion.fecha_hora }}</td>
                <td>{{ marcacion.tipo_hor }}</td>
                <td>{{ marcacion.turno }}</td>
                <td>{{ marcacion.registro }}</td>
                <td>{{ marcacion.get_tipo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    {% paginator %}
{% endblock %}
