{% extends 'pegasus/base.html' %}

{% block content %}
    <h2 class="sub-header">Planilla {{ planilla.n_planilla }}</h2>


    <div class="">
        <dl>
            <dt>Año:</dt>
            <dd>{{ planilla.ano_eje }} </dd>
            <dt>Mes:</dt>
            <dd>{{ planilla.mes }}</dd>
        </dl>
    </div>

    <h3>Personal</h3>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Reg. Pensionario</th>
                <th>Nivel</th>
                <th>Remuneración</th>
                <th>DT</th>
                <th>DT</th>
            </tr>
        </thead>
        <tbody>
            {% for planilla_trab in planilla.get_planilla_trabs %}
            <tr>
                <td>{{ forloop.counter }}</td> <!-- sirve para numerar los registros -->
                <td><a href="{% url 'planilla_trab_detail' current_year planilla_trab.id %}">{{ planilla_trab.personal.dni }}</a></td>
                <td>{{ planilla_trab.personal }}</td>
                <td>{{ planilla_trab.reg_pension.abrev }}</td>
                <td>{{ planilla_trab.get_nivel_remunerativo }}</td>
                <td>{{ planilla_trab.monto_rem }}</td>
                <td>{{ planilla_trab.dias_tot }}</td>
                <td>{{ planilla_trab.dias_fer }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
