<div class="well well-small">
    <div class="media">
        <a class="pull-left" href="#">
            <img src="" alt="" width="50" height="50">
        </a>
        <div class="media-body">
            <h5><strong>Índice <small>Subíndice</small></strong></h5>
        </div>
    </div>
</div>

<ul class="nav nav-list nav-list-vivid">
    <li class="nav-header">Básicos</li>
        <li class="active">
            <a href="/">
                Base
                <span class="badge pull-right">1</span>
            </a>
        </li>
        <li>
            <a href="/template_dashboard">
                Dashboard
                <span class="badge pull-right">9</span>
            </a>
        </li>
        <li>
            <a href="/template_add">
            Add-Edit View
            <span class="badge pull-right">19</span>
            </a>
        </li>
        <li>
            <a href="/template_list">
                List
                <span class="badge pull-right">11</span>
            </a>
        </li>
        <li>
            <a href="/template_form">
                Form
                <span class="badge pull-right">123</span>
            </a>
        </li>
        <li>
            <a href="/template_form_horizontal">
                Form horizontal
                <span class="badge pull-right">130</span>
            </a>
        </li>
    <li class="divider"></li>
    <li class="nav-header">Variaciones</li>
        <li>
            <a href="/template_dashboard_sidebar">
                Dashboard &amp; Sidebar
                <span class="badge pull-right">00</span>
            </a>
        </li>
        <!-- <li>
            <a href="#fakelink">
                Bombay, India
                <span class="badge pull-right">21</span>
            </a>
        </li>
        <li>
            <a href="#fakelink">
                Karachi, Pakistan
                <span class="badge pull-right">40</span>
            </a>
        </li> -->
</ul>
