{% load bootstrap3 %}
<div class="modal-dialog">
<div class="modal-content">
<form class="form-horizontal" action='{% url 'planilla_modal_add' %}' method="POST">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Crear planilla</h4>
    </div>
    <div class="modal-body">
        {% bootstrap_form form %}
    </div>
    <div class="modal-footer">
        <div class="pull-left">
        <span class="help-block"><span class="label warning">Nota</span> Los campos con <strong>asterisco (*)</strong> son obligatorios.</span>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
